<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    init-method:会在Spring容器创建完对象后执行
    destroy-method:会在Spring容器关闭前，销毁对象时执行
    lazy-init:是否开启懒加载
    -->
    <bean id="car" class="com.fc.com.fc.entity.Car">
        <constructor-arg index="1" type="java.lang.String" value="粉"/>
        <constructor-arg index="0" type="java.lang.Float" value="120"/>
    </bean>

    <bean id="car1" class="com.fc.com.fc.entity.Car">
        <constructor-arg name="color" type="java.lang.String" value="黑"/>
        <constructor-arg name="spend" type="java.lang.Float" value="180"/>
    </bean>

    <bean id="person" class="com.fc.com.fc.entity.Person">
        <constructor-arg name="name" type="java.lang.String" value="小张"/>
        <constructor-arg name="gender" type="java.lang.String" value="女"/>
        <constructor-arg name="car" type="com.fc.com.fc.entity.Car" ref="car1"/>
    </bean>








</beans>